#main-banner{
	height: 580px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(#1e3c72, 1) , rgba(#1e3c72, .5) , rgba(#2a5298, .6));
    z-index: 3;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 100px;
    &:before{
	    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMTk4MCAyMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE5ODAgMjEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIxOTgwLDIxMCAwLDIxMCAwLDE5NS41IDE5ODAsMCAiLz4KPC9zdmc+");
	    bottom: -1px;
	    content: '';
	    z-index: 2;
	    background-repeat: no-repeat;
	    background-position: 100%;
	    background-size: cover;
	    height: 210px;
	    position: absolute;
	    left: -10px;
	    right: -10px;
    }
    h2{
    	padding-top: 50px;
        padding-bottom: 20px;
    	text-align: center;
    	font-size: 4em;
    	color: #fff;
    }	
    #sub-title{
        background: rgba(#FF0009, .8);
        padding: 4px 20px;
        width: 300px;
        margin: 0 auto;
        h5{
            font-size: 20px;
            text-align: center;
            color: #fff;
        }
    }	
    #btn-ver-of-a{
        text-align: center;
        margin: 0 auto;
        display: block;
        #btn-ver-of{
            background: #FF0009;
            font-size: 20px;
            text-align: center;
            margin: 0 auto;
            padding: 10px 50px;
            font-family: $rubik;
        }
    }
    @media (max-width: 991px) {
      h2{
        padding-top: 85px;
        margin: 0 auto;
        width: 500px;
        padding-bottom: 30px;
      }
    }
    //media unido
    @media (max-width: 500px) {
        h2{
            padding-top: 100px;
            width: 100%;
            padding-bottom: 30px;
            font-size: 3em;
            width: 90%;
        }
    }
    @media (max-width: 400px) {
      h2{
        padding-top: 80px;
        width: 100%;
        padding-bottom: 30px;
        font-size: 3em;
        width: 90%;
      }
    }
    //media unido
    @media (max-width: 991px) {
        height: 370px;
        &:before{
            display: none;
        }
    }
       
}