#data-cars{
	background: #fff;
	padding-bottom: 100px;
	h3{
		font-size: 35px;
		margin-bottom: 50px;
		color: #003D68;
		float: left;
		margin-right: 10px;
		span{
			color: #FF1031;
		}
	}
	.head-icon{
      padding-top: 35px;
	}
	#list-cars{
		.card-car{
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			text-align: center;
			margin-bottom: 40px;
			img{
				width: 100%;
				height: 200px;
				display: block;
				object-fit: cover;

			}
			.card-car-data{
				.card-car-sub-data{
					padding-top: 8px;
					display: block;
					.con{
						font-weight: 600;
					}
					.con-end{
						padding-left: 10px;
					}
				}
				h5{
					font-size: 25px;
					font-weight: 400;
				}
				p{
					margin-bottom: 8px;
				}
				.card-cant{
                    font-size: 30px;
                    font-weight: 500;
				}
			}
			button{
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				margin-top: 15px;
				width: 90%;
				margin-bottom: 20px;
			}
		}
	}

	 @media (max-width: 800px) {
      	margin-top: -120px;
		z-index: 10;
		position: absolute;
    }  
}