#slide-ofertas{
    position: absolute;
    width: 100%;
    margin-top: 40px;
    z-index: 5;
	.carousel {
  		width: 728px;
  		height: 260px;
  		margin: 0 auto; /* space for prev/next buttons */
  		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  		.carousel-cell{
  			width: 100%; /* half-width */
			height: 260px;
			//margin-right: 10px;
			background: #FFF;
			
  			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			margin-bottom: 15px;
			img{
				display: block;
			  	width: 50%;
			  	height: 100%;
			  	float: left;
			  	object-fit: cover;
			}
			.slide-oferta-content{
				border-top: 10px solid #FF0009;
				padding: 10px 15px;
				padding-top: 0px;
				width: 50%;
				height: 100%;
				float: left;
				background: #FFF;
				h3{
					font-size: 25px;
				}
				.slide-data{
					padding-bottom: 8px;
					display: block;
					.con{
						font-weight: 600;
					}
					.con-end{
						padding-left: 10px;
					}
				}
				.slide-cant{
					font-size: 25px;
					font-weight: 600;
					.sig-data{
						font-style: italic;
					}
				}
			}
  		}
	}

	.oferta-slide-card{
		background: blue;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	/* smaller, dark, rounded square */
	.flickity-prev-next-button {
	  width: 30px;
	  height: 30px;
	  border-radius: 5px;
	  background: #333;
	}
	.flickity-prev-next-button:hover {
	  background: #FF0009;
	}
	/* arrow color */
	.flickity-prev-next-button .arrow {
	  fill: white;
	}
	.flickity-prev-next-button.no-svg {
	  color: white;
	}
	/* position outside */
	.flickity-prev-next-button.previous {
	  left: -40px;
	}
	.flickity-prev-next-button.next {
	  right: -40px;
	}
}